@import 'colors';
@import 'fonts';
@import 'mixins';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 72px 262px 870px 201px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 800px;
}


@import 'icons-panel';
@import 'nomad';
@import 'general';
@import 'user';